<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Animals</title>
    <!-- подключение стилей bootstrap -->
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <style>
        img {
          width: 200px;
          height: 200px;
        }
    </style>
</head>
<body>
<section>
    <h2>Наши питомцы</h2>
    <a th:href="@{/sorting_form}" class="btn btn-primary">Выборка</a>
    <a th:href="@{/myCard/show}" class="btn btn-primary">Избранное</a>
    <!-- Здесь будут карточки животных с фото, именем и описанием -->
    <div style="display: grid; grid-template-columns: repeat(3, 1fr);">
    <th:block th:each="animal : ${listAnimals}">
            <div class="card text-white bg-dark mb-3" style="width: 18rem;">
                <img class="card-img-top" th:src="@{'data:image/jpeg;base64,' + ${animal.photo}}">
                <div class="card-body">
                    <h3 class="card-title">[[${animal.nickname}]]</h3>
                    <p class="card-text">[[${animal.getTypeBreed()}]]</p>
                    <a th:href="@{'/animals/current/' + ${animal.id}}" class="btn btn-primary">Узнать больше</a>
                </div>
            </div>
    </th:block>
    </div>
    <div th:if = "${totalPages > 1}">
        <div class = "row col-sm-10">
            <div class = "col-sm-2">
                Total Rows: [[${totalItems}]]
            </div>
            <div class = "col-sm-1">
        <span th:each="i: ${#numbers.sequence(1, totalPages)}">
          <a th:if="${currentPage != i}" th:href="@{'/page/' + ${i} + '/animals' + '?sortField=' +
                   ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
          <span th:unless="${currentPage != i}">[[${i}]]</span> &nbsp; &nbsp;
        </span>
            </div>
            <div class = "col-sm-1">
                <a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${currentPage+1} + '/animals' + '?sortField=' +
                    ${sortField} + '&sortDir=' + ${sortDir}}">NEXT</a>
                <span th:unless="${currentPage < totalPages}">NEXT</span>
            </div>
            <div class = "col-sm-1">
                <a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${totalPages} + '/animals' + '?sortField=' +
                    ${sortField} + '&sortDir=' + ${sortDir}}">LAST</a>
                <span th:unless="${currentPage < totalPages}">LAST</span>
            </div>
        </div>
    </div>
</section>
<div>
    <a th:href="@{/index}">Вернуться обратно</a>
</div>
<section id="about">
    <h2>О нас</h2>
    <p>Краткая история приюта и наша миссия.</p>
</section>
<section id="how-to-help">
    <h2>Как помочь</h2>
    <p>Вы можете помочь нам, сделав пожертвование, став волонтером или предоставив корм и медикаменты.</p>
    <ul>
        <li><a href="#">Сделать пожертвование</a></li>
        <li><a href="#">Стать волонтером</a></li>
    </ul>
</section>
<!-- подключение скриптов bootstrap -->
<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>