<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Animals</title>
    <!-- подключение стилей bootstrap -->
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>
<section>
    <h2>Наши питомцы</h2>
    <!-- Здесь будут карточки животных с фото, именем и описанием -->
    <th:block th:each="animal : ${listAnimals}">
        <div style="display: flex; justify-content: space-between; flex-direction: row;">
            <div class="card text-white bg-dark mb-3" style="width: 18rem;">
                <img class="card-img-top" th:src="@{'data:image/jpeg;base64,' + ${animal.photo}}">
                <div class="card-body">
                    <h3 class="card-title">[[${animal.nickname}]]</h3>
                    <p class="card-text">[[${animal.getTypeBreed()}]]</p>
                    <a th:href="@{'/animals/current/' + ${animal.id}}" class="btn btn-primary">Узнать больше</a>
                </div>
            </div>
        </div>
    </th:block>
</section>
<section id="about">
    <h2>О нас</h2>
    <p>Краткая история приюта и наша миссия.</p>
</section>
<section id="how-to-help">
    <h2>Как помочь</h2>
    <p>Вы можете помочь нам, сделав пожертвование, став волонтером или предоставив корм и медикаменты.</p>
    <ul>
        <li><a href="#">Сделать пожертвование</a></li>
        <li><a href="#">Стать волонтером</a></li>
    </ul>
</section>
<!-- подключение скриптов bootstrap -->
<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>