<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<body>

<div th:fragment="header" id="header">
    <header class="s-header" role="banner">

        <div class="header-logo">
            <a class="site-logo" href="index.html" aria-label="Glint - Go to homepage">
                <img src="images/logo.png" alt="Glint logo" fetchpriority="high" decoding="sync">
            </a>
        </div>

        <nav class="header-nav" role="navigation" aria-label="Main navigation">
            <a href="#0" class="header-nav__close" title="close" aria-label="Close navigation menu"><span>Закрыть</span></a>
            <div class="header-nav__content">
                <h3>Навигация</h3>
                <ul class="header-nav__list">
                    <li class="current"><a class="smoothscroll" href="#home">Главная</a></li>
                    <li><a class="smoothscroll" href="#about">О нас</a></li>
                    <li><a class="smoothscroll" th:href="@{/my_card}">Избранные</a></li>
                    <li><a class="smoothscroll" href="#animals">Наши питомцы</a></li>
                    <li><a class="smoothscroll" href="#contact">Контакты</a></li>
                </ul>
            </div>
        </nav>

        <a class="header-menu-toggle" href="#0" aria-label="Open navigation menu" aria-expanded="false">
            <span class="header-menu-text">Меню</span>
            <span class="header-menu-icon"></span>
        </a>

    </header>
</div>
</body>
</html>